dockeranalyser.tar
.Rproj.user
handlers/dockercompensation/dockerfiles
.Rhistory
evaluation/analytics/performance_data
evaluation/analytics/normalised_results
evaluation/analytics/results/oneinstance
evaluation/analytics/results/compensations
